body {
  background-color: #d9d8d8;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.my-card-clock.mdl-card {
  width: 690px;
  margin: auto;
  padding: 20px;
}

.my-button-settings.mdl-button {
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.mdl-grid {
  max-width: 690px;
}

.mdl-cell {
  color: white;
}

.material-icons {
  color: white;
}
