{% extends "layout.html" %}
{% block content %}

<div id="clockParent">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--bottom mdl-cell--4-col" id="alarmTime" style="padding-bottom:5px">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" value="5:30am" disabled id="alarmInput">
          <label class="mdl-textfield__label" for="alarmInput" id="alarmInputLabel">Alarm Set For:</label>
        </div>
      </form>
    </div>
    <div class="mdl-cell mdl-cell--bottom mdl-cell--4-col" style="padding: 0px 0px 20px 75px">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="alarmSwitch" id="alarmSwitchLabel">
        <input type="checkbox" id="alarmSwitch" class="mdl-switch__input">
        <span class="mdl-switch__label" id="alarmSwitchSpan">Alarm</span>
      </label>
    </div>
    <div class="mdl-cell mdl-cell--bottom mdl-cell--4-col" style="padding: 0px 0px 20px 80px">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="sleepLightSwitch" id="sleepLightSwitchLabel">
        <input type="checkbox" id="sleepLightSwitch" class="mdl-switch__input">
        <span class="mdl-switch__label" id="sleepLightSwitchSpan">Sleep Light</span>
      </label>
    </div>
  </div>
  <div class="mdl-card my-card-clock mdl-shadow--8dp" id="clockCard">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="height:100%; padding: 20px 0px 20px 0px; text-transform:lowercase" align="center" id=clockButton>
      <h1 id="clockText" style="font-size:160px; font-weight:300; color:#B3B2B2;" align="center"></h1>
    </button>
  </div>
  <br>
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" id="muteButton" style="float:left;">
        <i class="material-icons" id="muteIcon" style="font-size:24px; float:left; color:#3F51B5">volume_mute</i>
      </button>
      <p style="width:340px; padding-top:5px">
        <input class="mdl-slider mdl-js-slider" type="range" id="volumeSlider" min="0" max="100" value="40">
      </p>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--8dp" id="noiseButton" style="width:100%; height:80px; background-color:white;">
    <img src="{{ url_for('static', filename='images/waveform.png') }}" id="noiseImage" width="300">
    </button>
  </div>
  <button class="mdl-button my-button-settings mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" onclick="javascript:location.href='http://localhost:5000/settings'" id="settingsButton">
    <i class="material-icons" id="settingsIcon">settings</i>
  </button>
</div>

<!--Import my clock javascript file-->
<script type="text/javascript" src="{{ url_for('static', filename='js/clock.js') }}"></script>
{% endblock %}
